<link rel="stylesheet" href="/static/header.css" type="text/css">
<!-- Global Header (Danny)-->
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="/logoRedirect">
          <!-- uses ShowImage function from app.py (Danny) -->
            <img src="/static/images/testcorrect-logo.svg"  alt="Logo" width="" height="">
          </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  
            {% for table in table_list %}
            <li><a href="/table_details/{{ table }}">{{ table }}</a></li>
            {% endfor %}

         
          
          <!-- use this to add templates to the navbar -->
          <!-- <a href="{{ url_for('index') }}" class="nav-link px-2 text-white">home</a>  </ul> -->
          <a  class="nav-link px-2 text-white"></a>  </ul>


        <div class="text-end">
          <a href="/logout" class="btn btn-primary btn-sm">Uitloggen</a>
          
        </div>
      </div>
    </div>
  </header>